In [1]:
import requests
import pandas as pd
import time

# Seminar - APIs, DBs and Live coding

## Task 1: Requesting API
### 1a. Create a function requesting data from sreality


```python
base_url = 'https://www.sreality.cz/api/cs/v2/estates?category_main_cb=1&category_type_cb=1&locality_region_id=10&per_page60&page={}'.format(i)

r = requests.get(base_url)
d = r.json()
```

* function should parametrize: 
    * `category_main_cb` - `{'flat':1, 'house':2, 'land':3 }`
    * `category_type_cb` - `{'sell':1,'rent':2}`
    * `locality_region_id` - use 10 as default value
    * `page` parameter
* use string inputs for `category_main_cb` and `category_type_cb`
* include try/except clause to handle errors
* function should return JSON data in python types
* do not forget to sleep each request at least 0.5s

In [3]:
%%time
print('Hi')

Hi
CPU times: user 74 µs, sys: 15 µs, total: 89 µs
Wall time: 99.2 µs

In [4]:
%%time
time.sleep(5)

CPU times: user 1.6 ms, sys: 1.12 ms, total: 2.72 ms
Wall time: 5.01 s

In [5]:
%%time
time.sleep(1)

CPU times: user 2.35 ms, sys: 0 ns, total: 2.35 ms
Wall time: 1 s

In [8]:
def request_sreality(page, category_main_str, category_type_str, locality_region_id=10):
    time.sleep(0.5)
    category_mains = {'flat':1, 'house':2, 'land':3 }
    category_types = {'sell':1,'rent':2}
    template_url = 'https://www.sreality.cz/api/cs/v2/estates?category_main_cb={category_main}&category_type_cb={category_type}&locality_region_id={locality_region_id}&per_page60&page={page}'
    try:
        request_url = template_url.format(
            category_main=category_mains[category_main_str],
            category_type=category_types[category_type_str],
            locality_region_id=locality_region_id,
            page=page
        )
        r = requests.get(request_url)
        return r.json()
    except Exception as e:
        print(e)
d = request_sreality(0, 'flat', 'sell', 10)

In [11]:
d.keys()

dict_keys(['meta_description', 'result_size', '_embedded', 'filterLabels', 'title', 'filter', '_links', 'locality', 'locality_dativ', 'logged_in', 'per_page', 'category_instrumental', 'page', 'filterLabels2'])

In [12]:
d['meta_description']

'5045 realit v nabídce prodej bytů Praha. Vyberte si novou nemovitost na sreality.cz s hledáním na mapě a velkými náhledy fotografií nabízených bytů.'

In [13]:
d['result_size']

5045

In [15]:
d['_embedded'].keys()

dict_keys(['estates', 'is_saved', 'not_precise_location_count'])

### 1b. Create a function converting sreality json data into pandas dataframe

In [26]:
len(d['_embedded']['estates'])

21

In [37]:
len(d['_embedded']['estates'][4].keys())

27

In [33]:
data_lists = [{'a':44, 'b':443},{'a':14, 'b':4454},{'a':45554, 'b':55553}]
pd.DataFrame(data_lists)

       a      b
0     44    443
1     14   4454
2  45554  55553

In [16]:
def convert_sreality_data_to_df(sreality_data):
    return pd.DataFrame(sreality_data['_embedded']['estates'])

raw = convert_sreality_data_to_df(d)

In [38]:
raw.head()

,labelsReleased,has_panorama,labels,is_auction,labelsAll,seo,exclusively_at_rk,category,has_floor_plan,_embedded,...,hash_id,attractive_offer,price,price_czk,_links,rus,name,region_tip,gps,has_matterport_url
0,"[[balcony, parking_lots, garage], []]",0,"[Balkon, Parkování, Garáž]",False,"[[personal, balcony, brick, elevator, parking_...","{'category_main_cb': 1, 'category_sub_cb': 8, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,58234188,0,12862000,"{'value_raw': 12862000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 4+kk 128 m²,2693402,"{'lat': 50.12603618747833, 'lon': 14.561554812...",False
1,"[[not_furnished], [restaurant, drugstore]]",0,"[Nevybavený, Restaurace 1 min. pěšky, Lékárna ...",False,"[[new_building, personal, elevator, not_furnis...","{'category_main_cb': 1, 'category_sub_cb': 2, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,89429068,0,3990000,"{'value_raw': 3990000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 1+kk 24 m²,0,"{'lat': 50.09041518747833, 'lon': 14.531943812...",False
2,"[[], []]",0,[],False,"[[new_building, personal, brick, cellar, eleva...","{'category_main_cb': 1, 'category_sub_cb': 6, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,567759948,0,21978000,"{'value_raw': 21978000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+kk 122 m²,0,"{'lat': 50.06292218747833, 'lon': 14.381577812...",False
3,"[[], []]",0,[],False,"[[new_building, personal, brick, cellar, eleva...","{'category_main_cb': 1, 'category_sub_cb': 6, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,618091596,0,18559000,"{'value_raw': 18559000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+kk 103 m²,0,"{'lat': 50.06292218747833, 'lon': 14.381577812...",False
4,"[[], [kindergarten, drugstore]]",0,"[Školka 6 min. pěšky, Lékárna 5 min. pěšky]",False,"[[new_building, personal, brick], [candy_shop,...","{'category_main_cb': 1, 'category_sub_cb': 8, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,973042764,0,21876000,"{'value_raw': 21876000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 4+kk 139 m²,0,"{'lat': 50.06782018747833, 'lon': 14.507568812...",True

### 1c. link function `1b` into function `1a`

In [39]:
def request_sreality(page, category_main_str, category_type_str, locality_region_id=10):
    category_mains = {'flat':1, 'house':2, 'land':3 }
    category_types = {'sell':1,'rent':2}
    template_url = 'https://www.sreality.cz/api/cs/v2/estates?category_main_cb={category_main}&category_type_cb={category_type}&locality_region_id={locality_region_id}&per_page60&page={page}'
    
    request_url = template_url.format(
        category_main=category_mains[category_main_str],
        category_type=category_types[category_type_str],
        locality_region_id=locality_region_id,
        page=page
    )
    
    try: 
        r = requests.get(request_url)
        return convert_sreality_data_to_df(r.json())
    except Exception as e:
        print(f'error requesting url {request_url}. Reason: {e.message}')
    
df = request_sreality(0, 'flat', 'sell', 10)
df.head()

,labelsReleased,has_panorama,labels,is_auction,labelsAll,seo,exclusively_at_rk,category,has_floor_plan,_embedded,...,hash_id,attractive_offer,price,price_czk,_links,rus,name,region_tip,gps,has_matterport_url
0,"[[new_building, garage], []]",0,"[Novostavba, Garáž]",False,"[[new_building, personal, terrace, elevator, p...","{'category_main_cb': 1, 'category_sub_cb': 6, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,568091724,0,21760000,"{'value_raw': 21760000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+kk 123 m²,0,"{'lat': 50.06301418747833, 'lon': 14.376991812...",False
1,"[[], [post_office, medic]]",0,"[Pošta 6 min. pěšky, Lékař 6 min. pěšky]",False,"[[personal, brick], [candy_shop, small_shop, t...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,2946720844,0,24335000,"{'value_raw': 24335000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 160 m²,0,"{'lat': 50.07837518747833, 'lon': 14.436064812...",False
2,"[[], [metro, shop]]",0,"[Metro 5 min. pěšky, Obchod 5 min. pěšky]",False,"[[personal, balcony, cellar, elevator, parking...","{'category_main_cb': 1, 'category_sub_cb': 6, ...",0,1,0,"{'favourite': {'is_favourite': False, '_links'...",...,400340300,0,14034000,"{'value_raw': 14034000, 'unit': '', 'name': 'C...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 3+kk 108 m²,0,"{'lat': 50.03316718747833, 'lon': 14.336494812...",False
3,"[[after_reconstruction], [metro, shop]]",0,"[Po rekonstrukci, Metro 2 min. pěšky, Obchod 3...",False,"[[personal, after_reconstruction, brick, parki...","{'category_main_cb': 1, 'category_sub_cb': 2, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,1144341580,0,7017000,"{'value_raw': 7017000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 1+kk 39 m²,0,"{'lat': 50.05947018747833, 'lon': 14.419744812...",False
4,"[[], [post_office]]",0,[Pošta 6 min. pěšky],False,"[[personal, terrace, elevator], [small_shop, t...","{'category_main_cb': 1, 'category_sub_cb': 4, ...",0,1,1,"{'favourite': {'is_favourite': False, '_links'...",...,1627543372,0,8694000,"{'value_raw': 8694000, 'unit': '', 'name': 'Ce...",{'dynamicDown': [{'href': 'https://d18-a.sdn.c...,False,Prodej bytu 2+kk 46 m²,0,"{'lat': 50.092200187478326, 'lon': 14.46233681...",False

### 1c. Combining multiple requests into single df

* Function should parametrize:
    * `start_page` and `end_page`
    * request parameters
* construct a list of individual request dfs
* then feed it into `pd.concat` function

In [26]:
raw.shape

(21, 27)

In [44]:
request_sreality

In [45]:
def request_multiply_sreality(start_page, end_page, category_main_str, category_type_str, locality_region_id=10):
    pages = range(start_page, end_page + 1)
    list_of_dfs = [request_sreality(page, category_main_str, category_type_str, locality_region_id) for page in pages]
    return pd.concat(list_of_dfs)

df = request_multiply_sreality(1, 5, 'flat', 'sell',10)
df.shape

(103, 27)

In [53]:
df = df.reset_index().drop('index', axis=1)

## Task 2: Cleaning data

### 2a. Filter columns
* filter only columns: `['locality', 'price', 'name', 'gps','hash_id','exclusively_at_rk']`
* use `.copy()` to avoid `SettingWithCopyWarning` later

In [55]:
clean = df[['locality', 'price', 'name', 'gps','hash_id','exclusively_at_rk']].copy()
clean

,locality,price,name,gps,hash_id,exclusively_at_rk
0,Praha 9 - Kbely,12862000,Prodej bytu 4+kk 128 m²,"{'lat': 50.12603618747833, 'lon': 14.561554812...",58234188,0
1,Praha 2 - Vinohrady,21566000,Prodej bytu 2+kk 126 m²,"{'lat': 50.06495918747833, 'lon': 14.454340812...",4107789900,0
2,Praha 5 - Sobín,17382000,Prodej bytu 3+kk 97 m²,"{'lat': 50.052054187478326, 'lon': 14.28598081...",1972872524,1
3,Praha 5 - Stodůlky,18286000,Prodej bytu 4+kk 122 m²,"{'lat': 50.02775118747833, 'lon': 14.324684812...",866350924,0
4,Praha 5 - Stodůlky,14140000,Prodej bytu 3+kk 88 m²,"{'lat': 50.02775118747833, 'lon': 14.324684812...",3735254860,0
...,...,...,...,...,...,...
98,Praha 8 - Karlín,10236000,Prodej bytu 1+kk 60 m²,"{'lat': 50.08081318747833, 'lon': 14.459052812...",1918002252,0
99,Praha 4 - Michle,29614000,Prodej bytu 3+kk 272 m²,"{'lat': 50.03685218747833, 'lon': 14.467224812...",2810619212,1
100,Praha 4 - Modřany,14018000,Prodej bytu 3+kk 100 m²,"{'lat': 49.989115187478326, 'lon': 14.41775681...",1567020876,0
101,Praha 9 - Kbely,11121000,Prodej bytu 3+kk 88 m²,"{'lat': 50.11815518747833, 'lon': 14.550433812...",1684042828,0
102,Praha 5 - Stodůlky,11421000,Prodej bytu 2+kk 74 m²,"{'lat': 50.03348418747833, 'lon': 14.323431812...",347063372,1

### 2b: GPS
* Convert dictionary in `gps` column into two columns - `lat` and `lon`
* use apply function on gps column
* Note apply can return multiple columns

In [82]:
clean[['lat', 'lon']] = clean.gps.apply(lambda x: pd.Series({'lat': x['lat'], 'lon': x['lon']}))

In [83]:
clean

,locality,price,name,gps,hash_id,exclusively_at_rk,lat1,lon1,lat,lon
0,Praha 9 - Kbely,12862000,Prodej bytu 4+kk 128 m²,"{'lat': 50.12603618747833, 'lon': 14.561554812...",58234188,0,50.126036,14.561555,50.126036,14.561555
1,Praha 2 - Vinohrady,21566000,Prodej bytu 2+kk 126 m²,"{'lat': 50.06495918747833, 'lon': 14.454340812...",4107789900,0,50.064959,14.454341,50.064959,14.454341
2,Praha 5 - Sobín,17382000,Prodej bytu 3+kk 97 m²,"{'lat': 50.052054187478326, 'lon': 14.28598081...",1972872524,1,50.052054,14.285981,50.052054,14.285981
3,Praha 5 - Stodůlky,18286000,Prodej bytu 4+kk 122 m²,"{'lat': 50.02775118747833, 'lon': 14.324684812...",866350924,0,50.027751,14.324685,50.027751,14.324685
4,Praha 5 - Stodůlky,14140000,Prodej bytu 3+kk 88 m²,"{'lat': 50.02775118747833, 'lon': 14.324684812...",3735254860,0,50.027751,14.324685,50.027751,14.324685
...,...,...,...,...,...,...,...,...,...,...
98,Praha 8 - Karlín,10236000,Prodej bytu 1+kk 60 m²,"{'lat': 50.08081318747833, 'lon': 14.459052812...",1918002252,0,50.080813,14.459053,50.080813,14.459053
99,Praha 4 - Michle,29614000,Prodej bytu 3+kk 272 m²,"{'lat': 50.03685218747833, 'lon': 14.467224812...",2810619212,1,50.036852,14.467225,50.036852,14.467225
100,Praha 4 - Modřany,14018000,Prodej bytu 3+kk 100 m²,"{'lat': 49.989115187478326, 'lon': 14.41775681...",1567020876,0,49.989115,14.417757,49.989115,14.417757
101,Praha 9 - Kbely,11121000,Prodej bytu 3+kk 88 m²,"{'lat': 50.11815518747833, 'lon': 14.550433812...",1684042828,0,50.118155,14.550434,50.118155,14.550434
102,Praha 5 - Stodůlky,11421000,Prodej bytu 2+kk 74 m²,"{'lat': 50.03348418747833, 'lon': 14.323431812...",347063372,1,50.033484,14.323432,50.033484,14.323432

### 2b. Get flat type from name
* Name is always represented by string `Prodej bytu [type of flat] [Area] m^2`
* try picking third word in string
* check meaningfulness using `.value_counts()`

In [ ]:
clean['flat_type'] = clean.name.apply(lambda nm:nm.split()[2])

### 2c. Get area from name
* Naive: select the word before last word
* Then try navigating using the index of `'m²'`
* if this also fail, then you will need to use regex

In [97]:
clean['area_1'] = clean.name.apply(lambda nm:nm.split()[3])

In [108]:
n = 'Prodej bytu 4+kk 128 m²'
splited = n.split()
print(splited)
splited.index('m²')

['Prodej', 'bytu', '4+kk', '128', 'm²']

4

In [110]:
int(splited[3])

128

In [111]:
def name_to_area(nm):
    splitted= nm.split()
    m2_idx = splitted.index('m²')
    return int(splitted[m2_idx-1])

clean['area_2'] = clean.name.apply(name_to_area)
clean

,locality,price,name,gps,hash_id,exclusively_at_rk,lat1,lon1,lat,lon,flat_type,area,area_1,area_2
0,Praha 9 - Kbely,12862000,Prodej bytu 4+kk 128 m²,"{'lat': 50.12603618747833, 'lon': 14.561554812...",58234188,0,50.126036,14.561555,50.126036,14.561555,"[Prodej, bytu, 4+kk, 128, m²]",128,128,128
1,Praha 2 - Vinohrady,21566000,Prodej bytu 2+kk 126 m²,"{'lat': 50.06495918747833, 'lon': 14.454340812...",4107789900,0,50.064959,14.454341,50.064959,14.454341,"[Prodej, bytu, 2+kk, 126, m²]",126,126,126
2,Praha 5 - Sobín,17382000,Prodej bytu 3+kk 97 m²,"{'lat': 50.052054187478326, 'lon': 14.28598081...",1972872524,1,50.052054,14.285981,50.052054,14.285981,"[Prodej, bytu, 3+kk, 97, m²]",97,97,97
3,Praha 5 - Stodůlky,18286000,Prodej bytu 4+kk 122 m²,"{'lat': 50.02775118747833, 'lon': 14.324684812...",866350924,0,50.027751,14.324685,50.027751,14.324685,"[Prodej, bytu, 4+kk, 122, m²]",122,122,122
4,Praha 5 - Stodůlky,14140000,Prodej bytu 3+kk 88 m²,"{'lat': 50.02775118747833, 'lon': 14.324684812...",3735254860,0,50.027751,14.324685,50.027751,14.324685,"[Prodej, bytu, 3+kk, 88, m²]",88,88,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Praha 8 - Karlín,10236000,Prodej bytu 1+kk 60 m²,"{'lat': 50.08081318747833, 'lon': 14.459052812...",1918002252,0,50.080813,14.459053,50.080813,14.459053,"[Prodej, bytu, 1+kk, 60, m²]",60,60,60
99,Praha 4 - Michle,29614000,Prodej bytu 3+kk 272 m²,"{'lat': 50.03685218747833, 'lon': 14.467224812...",2810619212,1,50.036852,14.467225,50.036852,14.467225,"[Prodej, bytu, 3+kk, 272, m²]",272,272,272
100,Praha 4 - Modřany,14018000,Prodej bytu 3+kk 100 m²,"{'lat': 49.989115187478326, 'lon': 14.41775681...",1567020876,0,49.989115,14.417757,49.989115,14.417757,"[Prodej, bytu, 3+kk, 100, m²]",100,100,100
101,Praha 9 - Kbely,11121000,Prodej bytu 3+kk 88 m²,"{'lat': 50.11815518747833, 'lon': 14.550433812...",1684042828,0,50.118155,14.550434,50.118155,14.550434,"[Prodej, bytu, 3+kk, 88, m²]",88,88,88
102,Praha 5 - Stodůlky,11421000,Prodej bytu 2+kk 74 m²,"{'lat': 50.03348418747833, 'lon': 14.323431812...",347063372,1,50.033484,14.323432,50.033484,14.323432,"[Prodej, bytu, 2+kk, 74, m²]",74,74,74

In [115]:
clean[clean['area_1']==clean['area_2']]

Empty DataFrame
Columns: [locality, price, name, gps, hash_id, exclusively_at_rk, lat1, lon1, lat, lon, flat_type, area, area_1, area_2]
Index: []

In [114]:
clean[clean['area_1'].astype(int)==clean['area_2']]

,locality,price,name,gps,hash_id,exclusively_at_rk,lat1,lon1,lat,lon,flat_type,area,area_1,area_2
0,Praha 9 - Kbely,12862000,Prodej bytu 4+kk 128 m²,"{'lat': 50.12603618747833, 'lon': 14.561554812...",58234188,0,50.126036,14.561555,50.126036,14.561555,"[Prodej, bytu, 4+kk, 128, m²]",128,128,128
1,Praha 2 - Vinohrady,21566000,Prodej bytu 2+kk 126 m²,"{'lat': 50.06495918747833, 'lon': 14.454340812...",4107789900,0,50.064959,14.454341,50.064959,14.454341,"[Prodej, bytu, 2+kk, 126, m²]",126,126,126
2,Praha 5 - Sobín,17382000,Prodej bytu 3+kk 97 m²,"{'lat': 50.052054187478326, 'lon': 14.28598081...",1972872524,1,50.052054,14.285981,50.052054,14.285981,"[Prodej, bytu, 3+kk, 97, m²]",97,97,97
3,Praha 5 - Stodůlky,18286000,Prodej bytu 4+kk 122 m²,"{'lat': 50.02775118747833, 'lon': 14.324684812...",866350924,0,50.027751,14.324685,50.027751,14.324685,"[Prodej, bytu, 4+kk, 122, m²]",122,122,122
4,Praha 5 - Stodůlky,14140000,Prodej bytu 3+kk 88 m²,"{'lat': 50.02775118747833, 'lon': 14.324684812...",3735254860,0,50.027751,14.324685,50.027751,14.324685,"[Prodej, bytu, 3+kk, 88, m²]",88,88,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,Praha 8 - Karlín,10236000,Prodej bytu 1+kk 60 m²,"{'lat': 50.08081318747833, 'lon': 14.459052812...",1918002252,0,50.080813,14.459053,50.080813,14.459053,"[Prodej, bytu, 1+kk, 60, m²]",60,60,60
99,Praha 4 - Michle,29614000,Prodej bytu 3+kk 272 m²,"{'lat': 50.03685218747833, 'lon': 14.467224812...",2810619212,1,50.036852,14.467225,50.036852,14.467225,"[Prodej, bytu, 3+kk, 272, m²]",272,272,272
100,Praha 4 - Modřany,14018000,Prodej bytu 3+kk 100 m²,"{'lat': 49.989115187478326, 'lon': 14.41775681...",1567020876,0,49.989115,14.417757,49.989115,14.417757,"[Prodej, bytu, 3+kk, 100, m²]",100,100,100
101,Praha 9 - Kbely,11121000,Prodej bytu 3+kk 88 m²,"{'lat': 50.11815518747833, 'lon': 14.550433812...",1684042828,0,50.118155,14.550434,50.118155,14.550434,"[Prodej, bytu, 3+kk, 88, m²]",88,88,88
102,Praha 5 - Stodůlky,11421000,Prodej bytu 2+kk 74 m²,"{'lat': 50.03348418747833, 'lon': 14.323431812...",347063372,1,50.033484,14.323432,50.033484,14.323432,"[Prodej, bytu, 2+kk, 74, m²]",74,74,74

## Bonus: Convert `labelsAll` into categorical variables

### Task 4a. Get all possible label names
* deal with nested-list structure
* Hint: try to sum the whole column
* Needed to Iterate through all labels in all rows and

In [141]:
['d'] + ['c']

['d', 'c']

In [152]:
possible_labels = list(set([i for sublist in raw.labelsAll.sum() for i in sublist]))
possible_labels

['natural_attraction',
 'kindergarten',
 'tram',
 'movies',
 'cellar',
 'brick',
 'candy_shop',
 'train',
 'metro',
 'bus_public_transport',
 'playground',
 'personal',
 'tavern',
 'loggia',
 'elevator',
 'school',
 'small_shop',
 'parking_lots',
 'partly_furnished',
 'new_building',
 'vet',
 'theater',
 'balcony',
 'not_furnished',
 'shop',
 'medic',
 'post_office',
 'sightseeing',
 'restaurant',
 'in_construction',
 'atm',
 'sports',
 'garage',
 'drugstore']

### 4b. Test existence of label `cellar` for offers
* again deal with nested list of list structure
* write generic function `test_existence_of_label(offer_labels,label)`

In [163]:
def test_existence_of_label(offer_labels,label):
    return 'cellar' in [item for sublist in offer_labels for item in sublist]

raw.labelsAll.apply(lambda offer_labels: test_existence_of_label(offer_labels, 'cellar'))

0     False
1     False
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
Name: labelsAll, dtype: bool

### 4c. Test existence of all possible labels
* use apply returning series with all labels

In [164]:
def existence_of_all_labels(offer_labels, possible_labels):
    return pd.Series({
        label:test_existence_of_label(offer_labels,label)
        for label in possible_labels
    })

raw.labelsAll.apply(lambda offer_labels: existence_of_all_labels(offer_labels, possible_labels))

,natural_attraction,kindergarten,tram,movies,cellar,brick,candy_shop,train,metro,bus_public_transport,...,shop,medic,post_office,sightseeing,restaurant,in_construction,atm,sports,garage,drugstore
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True